/* Reset default browser styles */
* {
	margin: 0;
   	padding: 0;
 	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background: linear-gradient(45deg, black, white 50%, grey 50%);
}

.skin {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container {
	text-align: center;
	padding: 20px;
}

.logo {
	font-size: 60px;
	color: black;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background: linear-gradient(to right, #FEB692, #EA5455);
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto 20px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.subtitle {
	font-size: 18px;
	margin-top: 0;
	color: #fff;
}
.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.emotion-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.emotion-buttons button {
	font-size: 18px;
	padding: 10px;
	margin-right: 10px;
	background-color: transparent;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.emotion-buttons button.active {
	transform: scale(1.2);
}

.emotion-buttons button.fade {
	display: none;
}

.play-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.play-controls button {
	font-size: 18px;
	padding: 10px 20px;
	margin-right: 10px;
	background-color: #eee;
	color: #000;
	border: none;
	cursor: pointer;
}

.player {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
