<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EMOPLAY</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='emoplay.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <div class="skin">
    <div class="container">
      <h1 class="logo">EMOPLAY</h1>
      <p class="subtitle">Music that suits your mood</p>
      <div class="controls">
        <div class="emotion-buttons">
		<p class="subtitle">select your MOOD</p>
          <button id="sadButton"><i class="fas fa-sad-tear"></i></button>
          <button id="happyButton"><i class="fas fa-smile"></i></button>
          <button id="excitedButton"><i class="fas fa-grin-stars"></i></button>
          <button id="indifferentButton"><i class="fas fa-meh"></i></button>
        </div>
        <div class="play-controls">
          <button id="prevButton"><i class="fas fa-step-backward"></i></button>
          <button id="playButton"><i class="fas fa-play"></i></button>
          <button id="nextButton"><i class="fas fa-step-forward"></i></button>
	  </div>
	  {% if not session.access_token %}
	  <a href="{{ url_for('spotify_auth') }}">Login with Spotify</a>
	  {% endif %}
        <div class="player">
          <div id="recordAnimation"></div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script src="{{ url_for('static', filename='emoplay3.js') }}"></script>
</body>
</html>
