<!DOCTYPE html>
<html>
<head>
	<title>EMOPLAY</title>
	<link rel="stylesheet" type="text/css" href="static/emoplay.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
	<div class="skin">
	<div class="container">
		<h1 class="logo">EMOPLAY</h1>
		<p class="subtitle">Music that suits your mood</p>
		 
		<div class="controls">
			<div class="emotion-question">
				<p class="question">How are you feeling right now?</p>
				<div class="options">
					<button id="sadButton">Sad</button>
					<button id="happyButton">Happy</button>
					<button id="excitedButton">Excited</button>
					<button id="indifferentButton">Indifferent</button>
				</div>
				<button id="submitEmotionButton">Submit</button>
			</div>
		</div>
	</div>
	</div>
	<script src="static/emoplay.js"></script>
</body>
</html>
